
html {  
    font-size: 14px;
}

h1, h2, h3 {
    color: #b34848;
}

.blog-masthead {   
    background-color: #b34848;
}

/* a {
    color: #b34848;
}

a:hover {
    color: #b34848;
    text-decoration: underline;
} */

form textarea {
    width: 75%;
}

form input {
    width: 75%;
}

form button, input, textarea {
    margin-top: 1rem;
}

.btn {
    color: #b34848;
    border-color: #b34848;
}

.btn:hover {
    background-color: #b34848;
    border-color: #b34848;
}

.comments ul {
    list-style-type: none;
}

.comments h3 {
    font-size: 18px;
}

.comments p {
    color: #555;
    font-size: 14px;
}

form div {
    width: 75%;
    /* text-align: left; */
}

.blog-post textarea {
    width: 75%;
    resize: none;
    overflow: hidden;
}

.male {
    color: #007bff;
}
.male:hover {
    color: #007bff;
}

.female {
    color: #b34848;
}

.female:hover {
    color: #b34848;
}